* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.columna {
  float: left;
  width: 25%;
  padding: 10px;
}
.columnb {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.rowmain:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .columna  {
    width: 33%;
  }
  .columnb {
  	width:66%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columna  {
    width: 100%;
  }
  .columnb { width:100%; }
}
