* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.columna {
  float: left;
  width: 16%;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 2%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.searchbox {
  text-align:right;
  width:100px;
  height:30px;
  border-radius:5px;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
  float:left;
}
.containerClass {
  width: 100%;
  max-height: 170px;
  margin: 5px;
}
.divImageClass{
  float:left;
  width: 60%;
}
.texteClass {
  margin-left: 5px;
  margin-right: 5px;
}
.divTexteClass {
    float:left;
  width: 40%;
padding: 10px;
}
.imageClass {
  width:100%;
  height: inherit;
  position: inherit;
  border-radius: 10px;
}
.divVideoClass {
  width: 60%;
  float:left;
}
.columnb {
  float: left;
  width: 44%;
  min-height: 700px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.columnc {
    float: left;
  width: 16%;
  padding: 10px;
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 10%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logoimg {
  position: relative;
  width: 200px;
  height: 180px;
  align-self: flex-end;
}
.maindiv {
width: 100%;
}
.topa {
  float: left;
  width: 10%;
  padding: 2px;
}
.topb {
  float: left;
  width: 6%;
  padding: 2px;
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: 20px;
}
.topc {
  float: left;
  width: 16%;
  padding: 0px;
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: 0px;
}
.topd {
    float: left;
  width: 16%;
  padding: 0px;
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: 20px;
}
.topb:hover {
  color: #4169E1;
  cursor:pointer;
}
/* Clear floats after the columns */
.rowmain:after {
  content: "";
  display: table;
  clear: both;
}

.rowtop {
  width:100%;
  float: left;
  height: 100px;
    padding: 0px;
}
.rowtop:after {
  content: "";
  display: table;
  clear: both;
}
.image1 {
  max-width: 200px;
  max-height: 150px;
}
.rowbottom {
  width:100%;
  margin-top: 20px;
  float:inline-end;
  
    padding: 0px;
}
.rowbottom:after {
  content: "";
  display: table;
  clear: both;
}
.fa {
  font-size: 25px;
  margin-top: 3px;
}
.botcolumna {
    padding: 10px;
    float:left;
    margin-left: 4%;
  margin-right: 4%;
  width: 20%;
}
.botcolumnb {
  width: 44%;
      padding: 2px;
    float:left;
    max-height: 15px;
  background-color: #6495ED;
  text-align: center;
  font-size: 12px;
  color:white;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .columna  {
    width: 25%;
  }
  .columnb {
  	width:63%;
  }
  .columnc {
    width: 25%;
    margin-left: 10%;

  }
  .topa {
    width:11%;
  }
  .topb {
    width:8%;
    font-size: 9px;
  }
  .logoimg {
  position: relative;
  width: 130px;
  height: 100px;
}
.searchbox {
    width:60px;
  height:20px;
  margin-right: 0px;
  visibility: hidden;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columna  {
    width: 100%;
    margin-left: 0%;
  }
  .columnb { width:100%; }
  .columnc {
    width:100%;
    margin-left: 0%;
  }
}
