* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.columna {
  float: left;
  width: 20%;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.columnb {
  float: left;
  width: 56%;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logoimg {
  position: relative;
  width: 100px;
  height: 100px;
}
.maindiv {
width: 100%;
}
.topa {
  float: left;
  width: 20%;
  
  padding: 2px;
}
.topb {
    float: left;
  width: 60%;
  padding: 2px;
}
/* Clear floats after the columns */
.rowmain:after {
  content: "";
  display: table;
  clear: both;
}

.rowtop {
  width:100%;
  float: left;
  height: 100px;
    padding: 0px;
}
.rowtop:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .columna  {
    width: 33%;
  }
  .columnb {
  	width:66%;
  }
  .topa {
    width:10%;
  }
  .topb {
    width:80%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columna  {
    width: 100%;
  }
  .columnb { width:100%; }
}
